@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
}

.contact{
    /* background-attachment: fixed; */
    /* background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% ), url(../../assets/contact/code.png); */
    background-color: rgba(0, 0, 0, 73%);
    /* background-repeat: no-repeat; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    padding-bottom: 25px;
}

.contact__title{
    text-align: center;
    padding-top: 5px;
}

.contact__title p{
    color: var(--text-color--blue);
    font-weight: bold;
    font-size: 2em;
}


/* social media */

.contacts{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.social_media{
    /* display: contents; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.social_media__name{
    color: var(--text-color--blue);
    font-weight: bold;
}

.social_media__icon .icon{
    height: 50px;
    width: 50px;
    fill: #fff;
}

.social_media__icon .icon:hover{
    fill: var(--text-color--blue);
    transition: 0.4s;
}

.contact__message{
    color: #fff;
    padding:0px 30px;
    font-size: 1.1em;
}

.contact__message a{
    color: var(--text-color--blue);
    text-decoration: none;
    font-size: 1.2em;
}