.info-user__title{
    text-align: center;
    padding-top: 5px;
}

.info-user__title p{
    color: var(--text-color--blue);
    font-weight: bold;
    font-size: 1.5em;
}

.info-user__photo{
    /* border: 1px solid var(--text-color--blue); */
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 0px auto;
    /* background-image: url("../../assets/jhon.png"); */
    
}

.info-user__photo img{
    border-radius: 150px;
    border: 1px solid #0e9aef24;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-user__description{
    padding: 20px;
    padding-top: 0px;
    /* text-align: center; */
}

.info-user__description p {
    color: #5d5a5a;
    font-size: 1.1em;
}

.info-user__description p span{
    color: var(--text-color--blue);
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}