@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --primary-color: #222;
    --text-color: #f0f0f0;
    --text-color--blue: #2196F3;
    --background-color--light: rgba(242,242,242, 50%); 
}

body{
    font-family: 'Roboto', 'Sans-Serif';
}