@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
}

.banner{
    background-attachment: fixed;
    /* background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% ), url(../../assets/banner/code.png); */
    background-color: #171616;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 40vh;
    position: relative;
    width: 100%;
    justify-content: center;
    /* object-fit: contain; */
}

.banner__word{
    font-family: 'Roboto', 'Sans-Serif';
    display: flex;
    align-items: center;
    text-align: center;
}

.banner__word p{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}
.banner__word p span{
    color: var(--text-color--blue);
    font-weight: bold;
    /* font-size: 2em; */
}

@media (min-width: 800px){
    .banner{
        height: 60vh;
    }
}